scripts/
outputs/
all_uniprots/
datafiles/
helper_scripts/hsc_2_all_scores.txt
helper_scripts/hsc_5_all_scores.txt
helper_scripts/hsc_8_all_scores.txt
helper_scripts/hsc_11_all_scores.txt
helper_scripts/hsc_14_all_scores.txt
helper_scripts/gene_set_scores_HSC_8.tsv
helper_scripts/hsc_2_all_pvals.txt
helper_scripts/hsc_5_all_pvals.txt
helper_scripts/hsc_8_all_pvals.txt
helper_scripts/hsc_11_all_pvals.txt
helper_scripts/hsc_14_all_pvals.txt
helper_scripts/context_clinvar_with_HSCZ.csv
helper_scripts/context_clinvar_with_HSCZ2.csv
helper_scripts/all_conservation_scores_with_CS_8.csv
helper_scripts/all_conservation_scores_with_HSCZ_8.csv